.app{
  border: 2px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.candidate{
  border: 2px dashed black;
  margin: 15px;
}

.form{
  margin: 15px;
  padding: 15px;
}